body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
}

aside {
    font-size: 0.9rem;
}

h1 {
    text-align: center;
    padding-bottom: 1em;
}

form {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

fieldset:not(:last-child) {
    margin-bottom: 1.5em;
}

input[type="submit"] {
    padding: 1em;
}

li {
    margin-bottom: 1em;
}